.shohin-title-card {
    padding: 20px;
}

.shohin-card {
    /* background-color: #F0F0F0; */
    margin: auto;
    width: 95%;
}

.shohin-center-card {
    padding: 100px;
    text-align: center;
}

.shohin-detail-card {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 20px;
}

.shohin-photo-card {
    height: 500px;
    text-align: center;
}

.photo {
    height: 500px;
    object-fit: contain;
}

.photo-word {
    height: 300px;
    margin: auto;
}

.photo-favorite {
    height: 250px;
}

.photoFavorite {
    text-align: center;
}

.shohinName {
    font-size: 250%;
}

.shohinLike {
    font-size: 45px;
    float: right;
}

.like {
    font-size: 45px;
    color: #FF6999;
}

.likeFin {
    font-size: 45px;
    color: #FF6999;
}

.shohinPrice {
    font-size: 25px;
}

.shohinCapa {
    font-size: 25px;
}

.shohinAlcohol {
    font-size: 25px;
}

.shohinNum {
    font-size: 25px;
}

.shohin-detail {
    height: 300px;
    font-size: 20px;
    margin: auto;
}

.likebtn {
    background-color: white;
}

.shopbtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #80B2FF;
    color: white;
}

.backbtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #909090;
    color: white;
}

.deleteBtn {
    background-color: #F0F0F0;
    width: 70px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.shohin-detail-photo {
    width: 100px;
    height: 100px;
}