h1{
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}
p{
    text-align: center;
}
hr{
    padding: 20px 0;
    background-color: silver;
}
.kaori{
    width: fit-content; 
    margin: auto;
    font-family: sans-serif;
    padding: 2em 2em 2em 2em;
    border: solid 3px silver;
}

.azi{
    width: fit-content; 
    margin: auto;
    font-family: sans-serif;
    padding: 2em 2em 2em 2em;
    border: solid 3px silver;
}

li{
    font-weight: 600;
}
