.logout-title-card {
  text-align:center;
  padding: 20px;
}

.logout-card {
  background-color: #F0F0F0;
  margin: auto;
  width: 80%;
}

.list-group-item {
  background-color: #F0F0F0;
  padding: 30px 20px 30px 20px;
  font-size: 120%;
}

.logoutCheck {
    margin: 30px;
    text-align: center;
}

.cancelbtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #909090;
    color: white;
}

.logoutbtn {
  margin: 30px;
  margin: auto;
  width: 300px;
  padding: 10px;
  background-color: #FF626B;
  color: white;
}