.top{
  text-align:center;
}

.touroku{
    position:absolute;
    top: 50%;
    left: 50%;
    display:inline-block;
    width: 500px;
    height: 200px;
    background-color:silver;
  }
  .text {
    width: 400px;
    padding: 15px;
    margin: 10px 0;
  }

  .login{
    text-align: center;
    padding: 10px;
    margin: 10px 0 0 300px;

  }