.shopcart-title-card {
    padding: 20px;
}

.user-name {
    text-align: right;
}

.shopping-card {
    margin: auto;
    width: 90%;
}

.shohin-card {
    margin-bottom: 10px;
}

.shohin-detail-card {
    margin: auto;
}

.photo {
    height: 250px;
}

.sum-card {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: right;
}

.user-center-card {
    padding: 100px;
    text-align: center;
}

.photoCart {
    text-align: center;
}

.shohinName {
    font-size: 150%;
}

.shohinNum {
    font-size: 120%;
}

.shohinPrice {
    font-size: 120%;
}

.shohinSum {
    font-size: 150%;
}

.buybtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #80B2FF;
    color: white;
}

.changebtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #80B2FF;
    color: white;
}

.backbtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #909090;
    color: white;
}

.deletebtn {
    margin: auto;
    padding: 10px;
    background-color: #909090;
    color: white;
}

.nextbtn {
    margin: 30px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: #909090;
    color: white;
}